@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@600&display=swap');

@font-face {
  font-family: 'Helvetica Neue';
  src: local('Helvetica Neue'), url(./fonts/helvetica-neue-thin.ttf) format('truetype');
}

body {
  font-size: 0.8rem;
  letter-spacing: 0.5px;
}

body,
input,
button,
a {
  font-family: 'Helvetica Neue', sans-serif;
  color: rgb(32, 32, 32);
}

body,
button {
  background-color: #edede8;
}

.main-container {
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}

.column-full {
  flex-direction: column;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.2rem;
}

header h1,
header h2 {
  margin: 0;
  padding: 0;
}

.logo {
  font-size: 1.2rem;
  margin: 0 0.2rem;
}

.logo,
.marker {
  color: #c03e32;
}

@media screen and (min-width: 768px) {
  .row,
  header {
    margin: 1.6rem;
  }

  label {
    margin: 0.6rem;
  }

  form {
    margin: 0 5rem;
  }
}

@media screen and (min-width: 992px) {
  .main-container {
    max-width: 1200px;
  }
}
