@font-face {
  font-family: 'Helvetica Neue';
  src: local('Helvetica Neue'), url(./fonts/helvetica-neue-thin.ttf) format('truetype');
}

body {
  font-size: 0.8rem;
}

body,
input,
button,
a {
  font-family: 'Helvetica Neue', sans-serif;
  color: rgb(32, 32, 32);
  letter-spacing: 0.5px;
}

body,
button {
  background-color: #edede8;
}

.main-container {
  margin: 0 auto;
}

.row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.column-full {
  flex-direction: column;
}

.row,
header {
  width: 90%;
  margin: 1.2rem auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (min-width: 768px) {
  label,
  p {
    margin: 0.6rem;
  }

  h1 {
    font-size: 1.8rem;
  }
}

@media screen and (min-width: 992px) {
  .main-container,
  #map > div {
    max-width: 1200px;
  }
}
