:focus {
  outline: none;
}

h1 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.4rem;
  letter-spacing: 2.5px;
}

h1,
h2,
input {
  margin: 0;
  padding: 0;
}

p,
label {
  margin: 0.5rem;
}

.logo {
  font-size: 1.2rem;
  margin: 0 0.2rem;
}

.logo,
.marker {
  color: #c03e32;
}

a,
button,
header h1 {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.nav-link {
  position: relative;
  margin: 0.2rem;
  padding: 0.2rem;
  font-weight: bold;
}

.nav-link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: #3e3e3e;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.2s ease-in-out 0s;
}

.nav-link:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.nav-link:visited {
  visibility: hidden;
}

.page-title {
  text-align: center;
}

form {
  width: 85%;
  margin: 0 auto;
}

form,
#map > div {
  border: 2px solid rgb(170, 170, 170);
  border-radius: 8px;
}

label,
input,
.submit-button-wrapper > button {
  width: 100%;
}

input {
  background: none;
  border: 0;
  border-bottom: 0.5px solid rgb(170, 170, 170);
}

input:focus {
  border-bottom: 1.5px solid rgb(26, 26, 26);
}

input[type=date]:invalid,
.no-entries-found,
.delete-icon {
  color: rgb(129, 129, 129);
}

.submit-button-wrapper button {
  padding: 0.4rem 1.6rem;
  background-color: rgb(221, 221, 221);
  border: none;
  transition: background-color 0.2s ease-in;
}

.submit-button-wrapper button,
.delete-button,
.cancel-button {
  border-radius: 4px;
}

.submit-button-wrapper button,
.search-box input,
.delete-button,
.cancel-button {
  box-shadow: 2px 3px 4px rgb(197, 197, 197);
}

.submit-button-wrapper button:hover,
.submit-button-wrapper button:focus {
  background-color: rgb(206, 206, 206);
}

#map > div {
  padding: 0.6rem;
  margin: 1rem auto;
  position: relative;
}

.mapboxgl-marker {
  font-size: 1.8rem;
}

.sticky-note-wrapper {
  position: relative;
}

.sticky-note {
  text-align: center;
  overflow-wrap: break-word;
  padding: 1rem;
  background-color: #fbfcd0;
  width: 230px;
  height: 210px;
  margin: 0.9rem;
}

.tape {
  position: absolute;
  top: 1.2rem;
  left: 0;
  width: 80px;
  height: 15px;
  background-color: rgb(255, 255, 255);
  transform: rotate(-25deg);
}

.search-box input {
  border-bottom: none;
  border: 1px solid rgb(170, 170, 170);
  width: 50%;
  border-radius: 4px;
  padding: 0.2rem 0.4rem;
}

.search-box input:focus {
  border: 1.5px solid rgb(26, 26, 26);
}

.delete-icon {
  background: none;
  border: none;
  position: absolute;
  right: 1.6rem;
}

.delete-icon:hover,
.delete-icon:focus {
  color: rgb(50, 50, 50);
}

.overlay {
  background: rgba(32, 32, 32, 0.664);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
}

.modal {
  background: rgb(242, 242, 242);
  height: auto;
  text-align: center;
  padding: 2rem 0;
  box-shadow: 8px 8px 8px rgb(65, 65, 65);
}

.warning-icon {
  color: rgb(240, 156, 0);
  font-size: 4rem;
  left: 0;
  right: 0;
}

.delete-button,
.cancel-button {
  margin: 0.1rem 0.6rem;
  color: white;
  border: none;
  padding: 0.4rem 1rem;
  width: 90px;
}

.cancel-button {
  background: rgb(175, 175, 175);
}

.delete-button {
  background-color: #dc7575;
}

.cancel-button:hover,
.cancel-button:focus {
  background-color: rgb(143, 143, 143);
}

.delete-button:hover,
.delete-button:focus {
  background-color: #dd5252;
}
